.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  font-size: 80px;
  font-weight: 600;
}

Button {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #B005FF;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
}

Button:hover {
  background-color: white;
  color: #B005FF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
